*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
	font: 12px/16px Arial, sans-serif;
	color: #333;
}

h1{
	margin: 20px;
	text-align: center;
}

h1 strong{
	font-weight: bold;
}